[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jamie/Desktop/SIGMA Photo Pro 5.desktop]
row=1
col=1

[/home/jamie/Desktop/SIGMA Photo Pro 5.lnk]
row=0
col=1

[D9E8-8A55]
row=3
col=0

[ROOT-A]
row=2
col=0

[9016-4EF8]
row=8
col=0

[255d352f-08b9-40b5-a965-3892d743ffe6]
row=4
col=0

[3d2f5703-faa8-4f7b-8947-2cbc2423c463]
row=1
col=0

[Trash]
row=5
col=0

[/]
row=6
col=0

[/home/jamie]
row=7
col=0

