[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jamie/Desktop/SIGMA_PhotoPro6.desktop]
row=1
col=1

[/home/jamie/Desktop/SIGMA Photo Pro 5.desktop]
row=0
col=1

[255d352f-08b9-40b5-a965-3892d743ffe6]
row=2
col=2

[ROOT-A]
row=2
col=0

[3d2f5703-faa8-4f7b-8947-2cbc2423c463]
row=0
col=0

[D9E8-8A55]
row=0
col=3

[Trash]
row=1
col=2

[/]
row=0
col=2

[/home/jamie]
row=2
col=1

